#contentheader
	.center
		h2 Documentation
		ul.index
			li.left.long(style='border-left: 0; padding-left: 0;')
				h4: a(href='#{url("docs/")}') Getting started
				ul.subindex
					li: a(href='#{url("docs/#requirements")}') Requirements
					li: a(href='#{url("docs/#upgrading")}') Upgrading from 1.0
					li: a(href='#{url("docs/#downloading")}') Downloading
					li: a(href='#{url("docs/#installation")}') Installation
					li: a(href='#{url("docs/#create")}') Create a qTip
					li: a(href='#{url("docs/#faq")}') Frequent Questions

			li.left.short
				h4 Options
				ul.subindex
					li: a(href='#{url("docs/core/")}') Core
					li: a(href='#{url("docs/content/")}') Content
					li: a(href='#{url("docs/position/")}') Position
					li: a(href='#{url("docs/show/")}') Show
					li: a(href='#{url("docs/hide/")}') Hide
					li: a(href='#{url("docs/style/")}') Style
					li: a(href='#{url("docs/api/events/")}') Events
					li: a(href='#{url("docs/global/")}') Global

			li.left
				h4 Plugins
				ul.subindex
					li: a(href='#{url("docs/plugins/ajax/")}') AJAX
					li: a(href='#{url("docs/plugins/tips/")}') Tips
					li: a(href='#{url("docs/plugins/modal/")}') Modal
					li: a(href='#{url("docs/plugins/imagemap/")}') Imagemap
					li: a(href='#{url("docs/plugins/svg/")}') SVG
					li: a(href='#{url("docs/plugins/bgiframe/")}') IE6 bgiframe

			li.right(style='padding-right: 0;')
				h4: a(href='#{url("docs/api/events/")}') API Events
				ul.subindex
					li: a(href='#{url("docs/api/events/#introduction")}') Binding events
					li: a(href='#{url("docs/api/events/#preventDefault")}') event.preventDefault()
					li: a(href='#{url("docs/api/events/#originalEvent")}') event.originalEvent
					li: a(href='#{url("docs/api/events/#render")}') render
					li: a(href='#{url("docs/api/events/#show")}') show
					li: a(href='#{url("docs/api/events/#hide")}') hide
					li: a(href='#{url("docs/api/events/#toggle")}') toggle
					li: a(href='#{url("docs/api/events/#visible")}') visible
					li: a(href='#{url("docs/api/events/#hidden")}') hidden
					li: a(href='#{url("docs/api/events/#focus")}') focus
					li: a(href='#{url("docs/api/events/#blur")}') blur
					li: a(href='#{url("docs/api/events/#move")}') move

			li.right
				h4: a(href='#{url("docs/api/")}') API
				ul.subindex
					li: a(href='#{url("docs/api/#introduction")}') Introduction
					li: a(href='#{url("docs/api/#access")}') Accessing the API
					li: a(href='#{url("docs/api/#storage")}') API Storage
					li: a(href='#{url("docs/api/#properties")}') Properties
					li: a(href='#{url("docs/api/#methods")}') Methods
					li: a(href='#{url("docs/global/")}') Global properties

			.clear

		.tutorials
			h2.center: a(href='#{url("tutorials/")}') Checkout some tutorials »
