a(name='footer')
#footer
	.center
		.links.left
			.left
				h4 Site links
				ul.site
					li: a(href='#{WEB_DIR}/') About
					li: a(href='#{url("demos/")}') Demos
					li: a(href='#{url("download/")}') Download
					li: a(href='#{url("donate/")}') Donate
					li: a(href='#{url("converter/")}') Converter
					li: a(href='#{url("docs/")}') Documentation
					li: a(href='#{url("tutorials/")}') Tutorials
					li: a(href='/projects/forums') Forum

			.left
				h4 Interweb links
				ul.links
					li: a(href='#{GIT_URI}', title='Check-out nightly releases') GitHub repository
					li: a(href='http://plugins.jquery.com/project/qtip2') jQuery plugin project
					li: a(href='http://craigsworks.com/projects/simpletip', title='Predecessor to qTip') Simpletip
					b(style='font-size: 11px;') [Old plugin]

				h4 Help
				ul.help
					li: a(href='/projects/forums/forum-qtip2') User forum
					li: a(href='#{url("docs/support/#faq")}') Frequent questions
					li: a(href='#{GIT_URI}/issues') Report a bug

			.left.nomargin
				h4 Our mascot
				img.owl(src='#{cdn("owl_footer.png")}', alt='', width='119', height='76')
				h4 About me
				ul.help
					li: a(href='/') Portfolio
					li: a(href='/projects') Other projects
					li: a(href='mailto:craig@craigsworks.com') Contact me
			.clear
		.right
			a(name='thanks')
			h4.title Special thanks
			ul.info.thanks.border
				li: a(href='http://webhostingsearch.com', title='Covered the hosting and bandwidth bills for last year!') Web Hosting Search
				li: a(href='http://www.creativaconsulting.com/', title='Made incredibly generous donations over the years that have covered server costs and domain registrations!') Creativa Consulting
				li: a(href='http://binaryvision.net', title='Invaluable help with the new code highlighter.') Ed Cradock
				li: a(href='#{url("forums/user-aaronbarker")}', title='Filing tonnes of bug fixes and ARIA patches!') Aaron Barker
				li: a(href='http://www.cannonaccess.com/', title='Accessibility consultant that helped qTip2 become ARIA friendly!') Aaron Cannon
				li: a(href='#{url("forums/user-kiddailey")}', title='Reporting quite a few bugs and patches.') kiddailey

		.right.nomargin
			a(name='credits')
			h4.title Credits
			ul.info.credits.border
				li
					a(href='/') Design
						span
							img.logo(src='#{cdn("craigsworks.png")}', alt='Craig Thompson', width='116', height='23')
				li
					a(href='http://www.dreamhost.com/r.cgi?237831', title='$15 off: MAGICPROMO') Hosting
						span Dreamhost
				li
					a(href='http://mybboard.net/') Forum
						span MyBB
				li
					a(href='http://jquery.com') JS Library
						span jQuery
				li
					a CMS
						b.right Home-brewed
				li
					a(href='http://www.fonts.com/findfonts/detail.htm?pid=427675') Logo font
						span Gill Sans MT
				li
					a.noborder(href='#{url("donate/#thanks")}') Donations
						span So many...

	.clear
	.copyright
		.center
			| ©
			a(href='/') Craig Thompson

			i Textual 
			| content is dedicated to the
			a(href='http://creativecommons.org/publicdomain/zero/1.0/') public domain
			| .
			| qTip2 graphics, logos and designs are released under the
			a(href='http://creativecommons.org/licenses/by/3.0/') CC Attribution 3.0 license
