extends ../layouts/default

block content
	#contentheader
		.center
			-if (locals.message)
				.message
					!{message}

			form(action='#{url('download/build')}', method='post')
				script(type='text/javascript')
					window.fileSizes = !{sizes};

				.step.step1
					h3
						<b>1</b> Choose your files
						span Choose what features you want included

					table.type(cellpadding='0', cellspacing='0')
						tr.header.first
							td(colspan='10') Version
						tr
							td.choice
								input(type='radio', id='stable', name='version', autocomplete='off', value='stable', disabled='disabled')
							td.name(colspan='5')
								label(for='stable')
									| Stable version (Unavailable)
							td.description
								| The latest stable release of the library.
								b Suitable for production and development sites alike.
						tr
							td.choice
								input(type='radio', id='nightly', name='version', autocomplete='off', value='nightly', checked='checked')
							td.name(colspan='5')
								label(for='nightly')
									| Nightly build (
									a(href=url('github')+'/commits/master') #{timeago(nightly.mtime)}
									| )
							td.description
								| GitHub builds.
								b Not suitable for production sites!
								br
								b Latest change: 
								| #{nightly.commitmsg}
						tr.header
							td(colspan='10')
								small.toggle toggle
								| Styles
						tr
							td.choice
								input(type='checkbox', id='styles-core', name='styles[core]', checked='checked', autocomplete='off', disabled='disabled')
							td.name(colspan='5')
								label(for='styles-core')
									| Core styles
									small.req required
							td.description
								| The core qTip<sup>2</sup> CSS, with default yellow style.
						tr
							td.choice
								input(type='checkbox', id='styles-basic', name='styles[basic]', checked='checked', autocomplete='off')
							td.name(colspan='5')
								label(for='styles-basic')
									| Basic colour styles
							td.description
								| Basic colour styles: Cream, light, dark, red, blue and green.
						tr
							td.choice
								input(type='checkbox',  id='styles-css3', name='styles[css3]', checked='checked', autocomplete='off')
							td.name(colspan='5')
								label(for='styles-css3')
									| CSS3 styles
							td.description
								| CSS3 styles including: Shadows, rounded corners, Tipsy, Bootstrap, YouTube, Tipsy, jTools, ClueTip and Tipped styles
						tr.header
							td(colspan='10')
								small.toggle toggle
								| Extras
						tr
							td.choice
								input(type='checkbox',  id='jquery', name='jquery', checked='checked', autocomplete='off', value='1.7.2')
							td.name(colspan='5')
								label(for='jquery')
									| jQuery 1.7.2
							td.description
								| The latest version of the jQuery library.
								b v1.4+ is required for qTip<sup>2</sup>!
						tr.header
							td(colspan='10')
								small.toggle toggle
								| Plugins
						tr.multi
							td.choice
								input(type='checkbox', id='plugins-ajax', name='plugins[ajax]', checked='checked', autocomplete='off')
							td.name
								label(for='plugins-ajax')
									| AJAX
							td.description
								| Load remote content into your tooltips with this plugin
							td.choice.lb
								input(type='checkbox', id='plugins-viewport', name='plugins[viewport]', checked='checked', autocomplete='off')
							td.name
								label(for='plugins-viewport')
									| Viewport
							td.description
								| Add viewport positioning adjustment support.
						tr.multi
							td.choice
								input(type='checkbox', id='plugins-modal', name='plugins[modal]', checked='checked', autocomplete='off')
							td.name
								label(for='plugins-modal')
									| Modal
							td.description
								| Dim the lights around your tooltips using this plugin.
							td.choice.lb
								input(type='checkbox', id='plugins-imagemap', name='plugins[imagemap]', checked='checked', autocomplete='off')
							td.name
								label(for='plugins-imagemap')
									| Image map
							td.description
								| Add positioning support for your image maps (AREA elements).
						tr.multi
							td.choice
								input(type='checkbox', id='plugins-tips', name='plugins[tips]', checked='checked', autocomplete='off')
							td.name
								label(for='plugins-tips')
									| Tips
							td.description
								| Want to add some fancy speech bubble tips? Include this plugin!
							td.choice.lb
								input(type='checkbox', id='plugins-svg', name='plugins[svg]', checked='checked', autocomplete='off')
							td.name
								label(for='plugins-svg')
									| SVG
							td.description
								| Add positioning support for your SVG elements.
						tr.multi
							td.choice(colspan='2', style='background: transparent; cursor: default;')
							td.choice.lb
								input(type='checkbox', id="plugins-bgiframe", name='plugins[bgiframe]', checked='checked', autocomplete='off')
							td.name
								label(for='plugins-bgiframe')
									| BGIFrame
							td.description
								| Add this plugin if you're using qTips on forms and need IE6 to behave nicely.
				.step.step2
					h3
						<b>2</b> Upgrading from 1.0RC3?
						span Use the new script converter to make your code compatible with the 2.0 release!
					p
						a(href='#{url('converter')}') Visit the RC3 code converter here

				.step.step3
					h3
						<b>3</b> Tell us something...?
						span Tell us where you're using qTip<sup>2</sup> and you might get listed on our homepage!
					p
						| My name's 
						input.name(type='text', autocomplete='off', maxlength='40', name='shoutout[name]', value='') 
						|  and I'm going to be using qTip<sup>2</sup> at 
						input.url(type='text', autocomplete='off', maxlength='250', name='shoutout[where]', value='')

				.step.step4
					h3
						b 4
						| License Agreement
						span Please agree to the terms of the license(s) before download!
					div
						input(type='checkbox', id='agree', name='agree', value='true', autocomplete='off')
						label(for='agree')
							| Yes, I agree to the terms of the 
							a(href='#license') license(s)
							| &hellip; now gimme!
					.clear  

				.step.step5
					input(type='image', src='#{cdn('downloadbutton.png')}', disabled='disabled', autocomplete='off')
					div
						b Approximate size:
						span#totalsize Calculating...
				.clear 



	#content
		.center 
			a(name='github')
			h2 Experimental code
			p
				| qTip<sup>2</sup> is actively developed over at the
				a(href=url('github')) GitHub repository
				| , updated frequently with the latest code developments and bug fixes.

			p
				| <b><i>Note:</i></b> Since the branch is being constantly updated, don't be suprised if you run into some bugs, and  
				a(href=url('github')+'/issues') make sure to report them!
			br
 
			a(name='license')
			h2 License
			.column.right
				h3 GPL License
				p
					| The GPL is the first and foremost copyleft license, which means that derived works can only be distributed under the same license terms. Under this philosophy, the GPL grants the recipients of a
					| computer program the rights of the free software definition and uses copyleft to ensure the freedoms are preserved, even when the work is changed or added to. This is in distinction to permissive
					| free software licenses, of which the MIT licenses are the standard examples.
					br
					small
					| Source: 
					a(href='http://en.wikipedia.org/wiki/GNU_General_Public_License') Wikipedia
				br
				h3 The MIT license
				p
					| The MIT license grants you, free of charge, the ability to use, modify and basically whatever the hell you want to do with it under one simple condition:
					i you must include the lincese or a link to it within the qTip<sup>2</sup> files!
					| The MIT license is GPL compatible, meaning you can use it conjunction with other GPL
					| software your developing without worrying about license issues.
					br
					small
					| Source: 
					a(href='http://en.wikipedia.org/wiki/MIT_License') Wikipedia

			h3 What you need to know
			p
				| qTip<sup>2</sup> is dual-licensed under the open source
				a(href='http://en.wikipedia.org/wiki/MIT_License') MIT 
				| and 
				a(href='http://en.wikipedia.org/wiki/GNU_General_Public_License') GPLv2 
				| licenses. These licenses must be distributed with all scripts falling under their terms, either in file form, or a link to a copy in the header of the files.
				| This is already done for you in the scripts headers, so if you're not too familiar with licensing don't worry about it!

			h3 So... that's it? Completely free?
			p
				| Yep. No strings, no catches, just the code and your right to do anything you want with it... besides... I'd feel guilty selling JavaScript... even when it's
				em this good.
				| However if you're feeling generous, consider a 
				a(href='#{url("donate")}') donation 
				| to help the cause!

			h3 Questions?
			p
				| If you have any questions regarding the license that aren't answered here or on the license pages, drop me a line at 
				a(href='mailto:craig@craigsworks.com') craig[at]craigsworks.com 
				| and we'll talk details.
			.clear

			.changelog 
				a(name='changelog')
				h2 Changelog
				| Check-out the 
				a(href='#{url('github')}') GitHub repository 
				| for a full list of changes!
