!!! 5
html
head
	title
		| qTip2 - Pretty powerful tooltips - Demo source -
		block title

	// Metadata
	include ../includes/metadata

	// Stylesheets
	link(rel='shortcut icon', type='image/vnd.microsoft.icon', href='#{url("/favicon.ico")}')
	link(rel='stylesheet', type='text/css', href='#{cdn("master.css")}')
	link(rel='stylesheet', type='text/css', href='#{cdn("source.css")}')
	link(rel='stylesheet', type='text/css', href='#{url("stylesheets/highlight.css")}')
	link(rel='stylesheet', type='text/css', href='#{qtip("nightly", "css")}')

	// Styles
	block styles

	// Javascript
	script(type='text/javascript', src='#{cdn('jquery')}')
	script(type='text/javascript', src='#{cdn('source.js')}')
	script(type='text/javascript', src='#{qtip("nightly", "js")}')

	// Google Analytics
	include ../includes/analytics

body.source

	a.viewtype.right(href="#"): View as plain text
	h2.html.nomargin
		| HTML
	.source.html
		!{highlight(html, 'html')}

	a.viewtype.right(href="#"): View as plain text
	h2.css
		| CSS
	.source.css
		!{highlight(css, 'css')}

	a.viewtype.right(href="#"): View as plain text
	h2.js
		| JS
	.source.js
		!{highlight(js, 'js')}