extends layouts/docs

append title
	| - Guides

block legend
	- var items = { 'gettingstarted': 'Getting Started', 'content': 'Content', 'style': 'Style', 'events': 'Events', 'integration': 'Integration', 'custom-build': 'Custom builds' }

append content
	a(name="gettingstarted")
	!{wikipage('Getting-Started')}

	a(name="content")
	!{wikipage('Content-Guide')}

	a(name="style")
	!{wikipage('Style-Guide')}

	a(name="events")
	!{wikipage('Events-Guide')}

	a(name="integration")
	!{wikipage('Integration')}

	a(name="custom-build")
	!{wikipage('Custom-build')}
