!!! 5
html
	head
		title qTip2 - Pretty powerful tooltips #{locals.title ? ' - ' + title.join(' - ') : ''}

		// Metadata
		include includes/metadata

		// Stylesheets
		link(rel='shortcut icon', type='image/vnd.microsoft.icon', href='#{url("/favicon.ico")}')
		link(rel="stylesheet", type='text/css', href="#{url('/stylesheets/reset.css')}")
		link(rel="stylesheet", type='text/css', href="#{url('/stylesheets/new.css')}")
		link(rel="stylesheet", type='text/css', href="#{url('/stylesheets/demos.css')}")
		link(rel="stylesheet", type='text/css', href="#{url('/stylesheets/hightlight2.css')}")
		link(rel='stylesheet', type='text/css', href='#{qtip("nightly", "css")}')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Average+Sans|Montserrat|Open+Sans:400,300,600,700|Droid+Sans+Mono&subset=latin,latin-ext')
		block stylesheets

		// jQuery
		script(type='text/javascript', src='http://code.jquery.com/jquery.min.js')

		// Google Analytics
		include includes/analytics

	mixin featureblock(text, classes)
		span(class=classes) !{text}

	mixin demoblock(text, fiddle)
		span !{text}
		- if(fiddle)
			mixin sourcelink(fiddle)

	mixin sourcelink(fiddle)
		a.source(href='http://jsfiddle.net/craga89/'+fiddle, target="_blank") view source

	mixin logo()
		strong qTip<sup>2</sup>&nbsp;

	body
		#master
			#header(class="#{page}")
				ul#nav
					li.style
						a(href="#styling", title='Choose a global tooltip style')
							span.qtip.qtip-default
								span.qtip-titlebar
								span.qtip-content

					li.first
						a.home(href='#intro', title='Find out what qTip2 has to offer')
							img.logo(src='#{cdn("logo-horizontal.png")}', alt='qTip2 - Pretty powerful tooltips', width='122', height='40')

					li: a.demos(href='#demos', title='Check out qTip2 in action') Demos
					li: a.download(href='#download', title="Grab it while it's hot") Download
					li: a.docs(href='#docs', title='Get started in no time!') Documentation
					li: a.donate(href='#donate', title='Show some love for the project!') Donate
					li: a.faq(href='#faq', title='Answers to the common questions') FAQ
					li.nomargin: a.forum(href='http://craigsworks.com/projects/forums/forum-qtip2', title='Get help from the qTip2 community') Forum

			#content
				a(name="intro")
				#category-intro.category.group
					h1
						font Introducing&hellip;&nbsp;
						mixin logo()
						img(class="owl", src="#{cdn('owl_small.png')}", width="45", height="50")

					a(name="about")
					#section-about.section
						h2 About
						p
							mixin logo()
							| is the second generation of the advanced 
							a(href="#{'http://craigsworks.com/projects/qtip/'}") qTip 
							| plugin for the ever popular 
							a(href='http://jquery.com') jQuery framework.
						p
							| Building on 1.0's <b>user friendly</b>, yet 
							a(href='#features') feature rich
							|  base, 
							mixin logo()
							| provides you with tonnes of features like 
							b speech bubble tips 
							| and 
							b imagemap support, 
							| and best of all... it's 
							a(href='#license') completely free under the MIT/GPLv2 licenses!

					a(name="features")
					#section-features.section
						h2 Features
						p
							mixin logo()
							| is packed full of features including:

						ul.subnav
							li#features-tips
								mixin featureblock("Speech bubble tips")
							li#features-ajax
								mixin featureblock("Integrated AJAX")
							li#features-viewport
								mixin featureblock("Viewport repositioning")
							li#features-stacking
								mixin featureblock("z-index stacking")
							li#features-modal
								mixin featureblock("Modal tooltips")
							li#features-imgsvg
								mixin featureblock("Imagemap &amp; SVG support")
							li#features-ie6
								mixin featureblock("IE6 support (BGIframe)")
						| &hellip;and lots more!

					a(name="browsers")
					#section-browsers.section
						h2 Compatibility
						span
							img(src='#{cdn("browsers/64-chrome.png")}', alt='Chrome', width='45', height='42')
							| 8+
						span
							img(src='#{cdn("browsers/64-firefox.png")}', alt='Firefox', width='45', height='42')
							| 3+
						span
							img(src='#{cdn("browsers/64-ie.png")}', alt='Internet Explorer', width='45', height='42')
							| 6+
						span
							img(src='#{cdn("browsers/64-opera.png")}', alt='Opera', width='45', height='42')
							| 9+
						span
							img(src='#{cdn("browsers/64-safari.png")}', alt='Safari', width='45', height='42')
							| 2+, iOS 4+

				a(name="demos")
				#category-demos.category.group
					h1 Demos
						font
							| see 
							mixin logo()
							| in action

					a(name="contents")
					#section-contents.section
						h2 HTML, Text and AJAX
						p
							mixin logo()
							| allows you to use not only regular textual content, but also complex
							| HTML from other elements on the page. It can even pull content in from other pages via
							| the optional 
							a(href='#plugins-ajax') AJAX plugin

						.examples
							ul
								li#contents-text
									mixin demoblock("Simple text", "fdavn")
								li#contents-html
									mixin demoblock("Inline HTML", "G2sqU")
								li#contents-ajax
									mixin demoblock("AJAX'd HTML", "L6yq3")


					a(name="styling")
					#section-styling.section
						h2 Styles and Customisation
						p
							| Not much of an artist? No problem! 
							mixin logo()
							| comes with multiple styles that are ready for use, including ones from several other popular tooltip
							| libraries. And with custom themes creatable with just a few lines of CSS, you'll be up and running in no time!

						p Choose a style from below to <b>change the styling of every qTip on the page!</b>

						mixin style(name, title, titlebar, active)
							styleName = name.toLowerCase()
							defClass = styleName === 'ui' ? '' : 'qtip-default '
							classes = defClass+'qtip qtip qtip qtip-'+styleName
							if styleName === 'ui'
								classes = classes+' ui-helper-reset ui-widget ui-tooltip'

							div(class='qtip-container ' + (active ? 'active' : ''))
								div(id="#styling-type-"+styleName, class=classes, title=title, data-title=name, data-titlebar=titlebar, data-style='qtip-'+styleName)
									div.qtip-titlebar(class=(styleName === 'ui' ? 'ui-widget-header ui-tooltip-title' : ''))
									div.qtip-content(class=(styleName === 'ui' ? 'ui-widget-content ui-tooltip-content' : ''))
							
						.examples
							a(name="styling-builtin")
							#section-styling-builtin.styles(data-type='Basic style')
								h3 Basic
								mixin style('Default', 'Default yellow style', 'true', true)
								mixin style('Light', 'Light style, for the minimalists', 'true')
								mixin style('Dark', 'An opposing dark style', 'true')
								mixin style('Red', 'Great for error related messages', 'true')
								mixin style('Blue', 'Placid blue, for those informative messages', 'true')
								mixin style('Green', 'A generic but tasteful green style', 'true')

								input(id="styling-rounded", type="checkbox", data-class="qtip-rounded")
								label(for="styling-rounded") Rounded

								input(id="styling-shadow", type="checkbox", data-class="qtip-shadow")
								label(for="styling-shadow") Shadow

								
							a(name="styling-extra")
							#section-styling-extra.styles(data-type='CSS3 style')
								h3 CSS3
								mixin style('Youtube', "Google's YouTube style", 'true')
								mixin style('Tipsy', 'Great minimalist Tipsy style', 'true')
								mixin style('Bootstrap', "Bootstrap your qTip's with this style", 'true')
								mixin style('Tipped', 'One of the many Tipped library styles', 'true')
								mixin style('jTools', 'jTools-style tooltips', 'true')
						p
							mixin logo()
							| even supports styling via the jQuery UI Themeroller themes! Choose a theme
							| from the Themeswitcher below to see it in action.

						.examples
							a(name="styling-ui")
							#section-styling-ui.styles.group(data-type='jQuery UI Themeroller')
								#themeswitcher.immediate

					
					a(name="positioning")
					#section-positioning.section
						h2 Positioning
						p
							| Featuring a fully configurable, human-readable positioning system, 
							mixin logo()
							| allows you to easily position your tooltips using element corners, and even reposition
							| themselves when the viewport sizes changes!

						.examples
							img.corners.right(src='#{cdn("corners.jpg")}', width='390')
							
							ul
								li#positioning-corner
									mixin demoblock("Using a corner", "dahrg")
								li#positioning-adjust
									mixin demoblock("Adding small adjustments")
								li#positioning-target
									mixin demoblock("Using a different target")
								li#positioning-mouse
									mixin demoblock("Open at the current mouse position", "qSr8B")
								li#positioning-track
									mixin demoblock("Anchor the tooltip to the mouse", "sTGux")
								li#positioning-viewport.draggable
									mixin demoblock("Viewport repositioning")
									select
										option(value="flipinvert") Flip invert
										option(value="flip") Flip
										option(value="shift") Shift

						p
							mixin logo()
							| also supports corner positioning on <i>&lt;map&gt;</i>, <i>&lt;area&gt;</i> and
							| most <i>&lt;svg&gt;</i> elements via the
							b optional 
							a(href="#plugins-imagemap") Image map 
							| and 
							a(href="#plugins-svg") SVG 
							| plugins

						.examples
							a(name="positioning")
							#section-positioning-imgmap
								img(width='485', height='315', border='0', usemap='#statesmap', src='#{cdn("demos/usa.gif")}')
								map#statesmap(name='statesmap')
									area(alt='Alabama', coords='319,197,321,247,329,247,328,240,351,240,340,195', shape='poly')
									area(alt='Arizona', coords='84,165,71,211,102,232,119,234,124,171', shape='poly')
									area(alt='Arkansas', coords='261,184,261,214,266,221,290,221,301,183', shape='poly')
									area(alt='California', coords='9,91,42,98,35,131,71,186,67,209,44,208,20,179,6,117', shape='poly')
									area(alt='Colorado', coords='134,127,130,170,190,175,191,131', shape='poly')
									area(alt='Connecticut', coords='432,96,436,110,479,116,478,108,448,105,445,96', shape='poly')
									area(alt='Delaware', coords='422,125,430,127,467,129,466,138,426,136', shape='poly')
									area(alt='District of Columbia', coords='412,144,420,147,425,161,462,163,461,152,429,149,419,145', shape='poly')
									area(alt='Florida', coords='330,242,332,248,364,248,380,262,377,273,402,299,407,297,409,280,387,240,353,243', shape='poly')
									area(alt='Georgia', coords='342,195,354,241,386,237,388,223,358,193', shape='poly')
									area(alt='Idaho', coords='85,29,71,100,117,110,118,84,105,83', shape='poly')
									area(alt='Illinois', coords='292,113,294,119,285,140,305,172,311,171,317,152,312,113', shape='poly')
									area(alt='Indiana', coords='317,115,319,153,317,163,342,148,336,116', shape='poly')
									area(alt='Iowa', coords='242,105,248,134,283,134,292,118,280,104', shape='poly')
									area(alt='Kansas', coords='194,144,194,174,256,176,254,155,249,145', shape='poly')
									area(alt='Kentucky', coords='307,176,314,173,319,163,345,151,360,151,365,162,358,172', shape='poly')
									area(alt='Louisiana', coords='264,223,268,258,309,263,303,245,287,245,290,223', shape='poly')
									area(alt='Maine', coords='442,52,445,46,447,28,460,25,477,49,453,73', shape='poly')
									area(alt='Maryland', coords='406,131,418,129,423,140,463,140,463,150,425,146', shape='poly')
									area(alt='Massachusetts', coords='431,87,441,86,452,83,482,75,481,91,448,92,432,94', shape='poly')
									area(alt='Michigan', coords='291,66,315,77,317,114,351,114,355,101,338,70,328,60,303,58', shape='poly')
									area(alt='Minnesota', coords='236,41,242,75,242,102,280,101,269,85,269,71,288,50', shape='poly')
									area(alt='Mississippi', coords='300,199,293,221,290,243,306,243,310,251,319,249,317,199', shape='poly')
									area(alt='Missouri', coords='249,138,258,154,260,181,300,181,302,173,280,140', shape='poly')
									area(alt='Montana', coords='94,28,92,42,107,80,120,82,119,75,179,82,180,39', shape='poly')
									area(alt='Nebraska', coords='179,109,179,128,194,129,195,141,245,142,235,114', shape='poly')
									area(alt='Nevada', coords='46,99,39,129,74,179,90,108', shape='poly')
									area(alt='New Hampshire', coords='442,35,422,33,422,45,427,46,436,57,439,84,452,79,441,54', shape='poly')
									area(alt='New Jersey', coords='423,108,432,112,470,119,467,127,435,125,423,123,427,120', shape='poly')
									area(alt='New Mexico', coords='128,174,123,226,177,231,179,178', shape='poly')
									area(alt='New York', coords='380,102,386,96,384,90,406,84,408,67,422,64,430,105,416,98', shape='poly')
									area(alt='North Carolina', coords='375,173,354,192,381,187,395,188,409,196,431,171,425,163', shape='poly')
									area(alt='North Dakota', coords='183,40,181,71,238,74,231,41', shape='poly')
									area(alt='Ohio', coords='339,117,346,147,363,149,375,131,371,109', shape='poly')
									area(alt='Oklahoma', coords='183,176,183,182,208,183,209,204,257,213,255,178', shape='poly')
									area(alt='Oregon', coords='25,47,77,62,65,96,11,86,25,47', shape='poly')
									area(alt='Pennsylvania', coords='374,106,378,131,398,130,419,124,423,119,420,114,421,105,414,99', shape='poly')
									area(alt='Rhode Island', coords='448,94,450,100,481,104,480,93', shape='poly')
									area(alt='South Carolina', coords='362,193,382,188,393,190,406,198,388,221', shape='poly')
									area(alt='South Dakota', coords='182,74,180,106,238,111,237,77', shape='poly')
									area(alt='Tennesee', coords='306,181,300,198,351,192,371,173', shape='poly')
									area(alt='Texas', coords='183,184,181,234,146,232,173,264,184,256,232,303,264,260,261,218,209,208,206,185', shape='poly')
									area(alt='Utah', coords='94,110,115,112,115,124,130,127,126,168,85,162', shape='poly')
									area(alt='Vermont', coords='408,47,425,47,434,59,436,69,437,85,430,85,425,61,408,61', shape='poly')
									area(alt='Virginia', coords='369,163,364,170,423,161,419,148,411,145,409,138,400,133,389,158', shape='poly')
									area(alt='Washington', coords='28,13,25,41,78,57,84,25', shape='poly')
									area(alt='West Virginia', coords='377,133,362,151,372,163,384,159,399,133', shape='poly')
									area(alt='Wisconsin', coords='283,64,271,73,271,86,290,111,313,111,312,80', shape='poly')
									area(alt='Wyoming', coords='124,78,117,120,174,127,178,84', shape='poly')

								p.attribution
									| imagemap courtesy of 
									a(href='http://www.americanbanker.com/state/state.html', target='_blank') American Banker


					a(name="events")
					#section-events.section
						h2 Show and Hide properties
						p
							| Sometimes a regular mouseover just won't cut it, so why hack away? 
							mixin logo()
							| provides a complete solution to defining custom show and hide properties, so you can open your tooltips on
							| click, focus or <insert custom event here>!

						.examples
							ul
								li#showhide-click.clickable
									mixin demoblock("Click (and click again!)", "wHpvW")
								li
									mixin demoblock('<input id="showhide-focus" type="text" value="Focus and blur" />', "qtyTJ")
								li#showhide-unfocus
									mixin demoblock("Hide when clicking elsewhere", "ADER8")
								li#showhide-fixed
									mixin demoblock("Stay visible when mousing onto tooltip", "H4aTZ")
								li#showhide-delay
									mixin demoblock("Custom hide and show delays", "ZFTAJ")
								li#showhide-solo
									mixin demoblock("Hide others when opening", "kgJtn")
								li#showhide-inactive
									mixin demoblock("Hide when inactive", "GUpvE")
								li#showhide-distance
									mixin demoblock("Hide after a variable mouse distance", "dcFCz")

						p
							| Not only are there multiple built-in properties to determine <i>when</i> your tooltips
							| show and hide, but there's properties for describing <i>how they do it</i> i.e. <b>individual,
							| custom show and hide effects</b>!

						.examples
							ul
								li#showhide-slide
									mixin demoblock("Sliding in", "3Sf6x")
								li#showhide-fadeslide
									mixin demoblock("Fade in, slide out", "FmsDe")
								li#showhide-ui
									mixin demoblock("jQuery UI effects", "t2eDt")
								li#showhide-custom
									mixin demoblock("Customised .animate()")


					a(name="apicallbacks")
					#section-apicallbacks.section.group
						h2 API and Callbacks
						p
							| Manipulating and customising the behaviour of the 
							mixin logo()
							| library couldn't be easier
							| using the builtin API, which features multiple callbacks and attributes to precisely fine tune
							| your tooltips. We can use these features and callbacks to integrate with other 3rd party plugins
							| and products too.

						.examples
							div.demogroup.left
								h4 Dialogs 
									small (Utilising the 
										a(href="#plugins-modal") Modal plugin
										| )
									mixin sourcelink("ZJpLH")

								ul
									li#apicallbacks-alert.clickable
										mixin demoblock("Alert")
									li#apicallbacks-confirm.clickable
										mixin demoblock("Confirm")
									li#apicallbacks-prompt.clickable
										mixin demoblock("Prompt")

							div.demogroup.left
								h4 &nbsp;
								ul
									li#apicallbacks-jgrowl.clickable
										mixin demoblock("jGrowl", "YCfx4")
							
							div.demogroup.left
								h4 Video link previews
								ul
									li#apicallbacks-youtube.clickable
										mixin demoblock('<a href="http://www.youtube.com/watch?v=MF3Vbq2BPbE"><b>YouTube</b> - Elf Owl Eating</a>', 'q7pcN')
									li#apicallbacks-vimeo.clickable
										mixin demoblock('<a href="http://vimeo.com/1949449#"><b>Vimeo</b> - Eagle Owl</a>', 'UvABX')

							div.demogroup.left
								h4 Geolocation
									mixin sourcelink("hh2y2")

								ul#apicallbacks-geoloc
									li.clickable
										mixin demoblock('<a data-ip="'+ip+'">Your IP: ' + ip + '</a>')
									li.clickable
										mixin demoblock('<a data-ip="'+hostip+'">Server IP: ' + hostip + '</a>')

							br
							div.demogroup.left
								h4 Google maps: 
									mixin sourcelink("CSYcQ")

								ul#apicallbacks-maps
									li.clickable
										mixin demoblock('<a data-coords="38.89859,-77.035971">White House</a>')
									li.clickable
										mixin demoblock('<a data-coords="38.871008,-77.055979">The Pentagon</a>')

							div.demogroup.left
								h4 Twitter feeds
									mixin sourcelink("YcPJE")

								ul#apicallbacks-twitter
									li
										mixin demoblock('<a href="http://twitter.com/jquery">jQuery</a>')
									li
										mixin demoblock('<a href="http://twitter.com/paul_irish">Paul Irish</a>')
							br
							div.demogroup.left
								h4 IMDb ratings
									mixin sourcelink("Fc6Wc")

								ul#apicallbacks-imdb
									li
										mixin demoblock('<a href="http://www.imdb.com/title/tt0468569/">The Dark Knight</a>')
									li
										mixin demoblock('<a href="http://www.imdb.com/title/tt0110912/">Pulp Fiction</a>')

							div.demogroup.left
								h4 WebSnapr thumbails
									mixin sourcelink("JCESC")

								ul#apicallbacks-websnapr
									li
										mixin demoblock('<a href="http://facebook.com">Facebook</a>')
									li
										mixin demoblock('<a href="http://youtube.com">YouTube</a>')

				a(name="download")
				#category-download.category.group
					h1 Download
						font
							| grab 
							mixin logo()
							| for free!

					a(name="cdn")
					#section-cdn.section
						h2 CDN <small>(recommended)</small>
						p
							mixin logo()
							| is distributed through the 
							a(href="http://cdnjs.com/") cdnjs 
							| CloudFlare CDN. You can grab the files at the following URLs:

						h4 All features &amp; styles 
							small (
								a(href="#builder-styles") see below
								| )
						p.cdnlinks
							a(href="//cdnjs.cloudflare.com/ajax/libs/qtip2/#{build.stable.version}/jquery.qtip.min.js", target="_blank")
								| //cdnjs.cloudflare.com/ajax/libs/qtip2/#{build.stable.version}/jquery.qtip.min.js
							br

							a(href="//cdnjs.cloudflare.com/ajax/libs/qtip2/#{build.stable.version}/jquery.qtip.js", target="_blank")
								| //cdnjs.cloudflare.com/ajax/libs/qtip2/#{build.stable.version}/jquery.qtip.js

						h4 Basic features 
							small (no 
								a(href="#builder-styles") additional styles 
								| or 
								a(href="#builder-features") features
								| )

						p.cdnlinks
							a(href="//cdnjs.cloudflare.com/ajax/libs/qtip2/#{build.stable.version}/basic/jquery.qtip.min.js", target="_blank")
								| //cdnjs.cloudflare.com/ajax/libs/qtip2/#{build.stable.version}/basic/jquery.qtip.min.js
							br

							a(href="//cdnjs.cloudflare.com/ajax/libs/qtip2/#{build.stable.version}/basic/jquery.qtip.js", target="_blank")
								| //cdnjs.cloudflare.com/ajax/libs/qtip2/#{build.stable.version}/basic/jquery.qtip.js

					a(name="builder")
					#section-builder.section
						h2 Build your own

						form(action='#{url("/download/build")}', method='post')
							h4
								| Which version of 
								mixin logo()
								| would you like to download?
							ul
								li.stable.version.checked(title="Suitable for production and development environments")
									input(id="download-stable", name="version", type="radio", value="stable", checked="checked")
									label(for="download-stable") 
										span
											| #{build.stable.version}
											i Stable
								
								li.nightly.version(title="Not suitable for production environments", title=build.nightly.commitmsg)
									input(id="download-nightly", name="version", type="radio", value="nightly")
									label(for="download-nightly")
										span
											| Nightly 
											small (#{moment(build.nightly.commitdate).fromNow()})
											i "#{build.nightly.commitmsg.substr(0, 50)+'...'}"
								
							a(name="builder-styles")
							h4 Choose included <i>styles</i>
							ul
								li.checked
									input(id="download-styles-core", name="styles[core]", type="checkbox", checked="checked", disabled="disabled")
									label(for="download-styles-core") 
										span Core styles
											i the essential library styles and default yellow style
								li
									input(id="download-styles-basic", name="styles[basic]", type="checkbox")
									label(for="download-styles-basic") 
										span Basic colour styles
											i basic red, green, blue, dark and light styles
								li
									input(id="download-styles-css3", name="styles[css3]", type="checkbox")
									label(for="download-styles-css3") 
										span CSS3 styles
											i shadows, rounded corners, Tipsy, Bootstrap, YouTube, jTools, ClueTip and Tipped styles

							a(name="builder-features")
							h4 Choose additional <i>features</i>
							ul
								li
									input(id="download-plugins-tips", name="plugins[tips]", type="checkbox")
									label(for="download-plugins-tips") 
										span Speech bubble 'tips'
											i add little speech bubble pointers to your tooltips
								li
									input(id="download-plugins-viewport", name="plugins[viewport]", type="checkbox")
									label(for="download-plugins-viewport") 
										span Viewport adjustment
											i add viewport repositioning abilities to your tooltips
								li
									input(id="download-plugins-ajax", name="plugins[ajax]", type="checkbox")
									label(for="download-plugins-ajax") 
										span AJAX
											i add the ability to load remote content into your tooltips
								li
									input(id="download-plugins-imagemap", name="plugins[imagemap]", type="checkbox")
									label(for="download-plugins-imagemap") 
										span Imagemap support
											i add &lt;map&gt; and &lt;area&gt; element support to the positioning system
								li
									input(id="download-plugins-svg", name="plugins[svg]", type="checkbox")
									label(for="download-plugins-svg") 
										span SVG support
											i add SVG support to the positioning system
								li
									input(id="download-plugins-ie6", name="plugins[ie6]", type="checkbox")
									label(for="download-plugins-ie6") 
										span IE6 support
											i
												| Add IE6 compatibility

							a(name="builder-libraries")
							h4 Choose additional <i>libraries</i>
							ul
								li
									input(id="download-jquery", name="jquery", value="1.8.3", type="checkbox")
									label(for="download-jquery") 
										span jQuery 1.8.3
											i latest tested and verified jQuery version

							button Build &amp; Download
							span#filesize
								| Approximate filesize<sup>*</sup>: 
								b 49KB (19KB minified / 10KB gzipped)
								small <sup>*</sup> Excludes jQuery library

							script
								fileSizes = {
									stable: !{JSON.stringify(build.nightly.filesizes)},
									nightly: !{JSON.stringify(build.nightly.filesizes)}
								}

					a(name="git")
					#section-git.section
						h2 GitHub development
						p
							mixin logo()
							| is actively developed over at 
							a(href="http://github.com/craga89/qtip2") GitHub 
							| and updated frequently with the latest bug fixes and new features. If you wish to
							| contribute to the projects efforts, don't be afraid to 
							a(href="http://github.com/craga89/qtip2/fork") fork the repo
							|  and submit some 
							a(href="http://github.com/craga89/qtip2/pull") pull requests
							| , <i>and make sure to 
							a(href="http://github.com/craga89/qtip2/issues") report any bugs 
							| you find!</i>

						.badges
							.badge
								iframe(src='http://ghbtns.com/github-btn.html?user=craga89&repo=qTip2&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='80px', height='20px')
							.badge
								iframe(src='http://ghbtns.com/github-btn.html?user=craga89&repo=qTip2&type=fork&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='80px', height='20px')
							.badge
								iframe(src='http://ghbtns.com/github-btn.html?user=craga89&type=follow&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='152px', height='20px')

					a(name="license")
					#section-license.section
						h2 Licensing
						p
							mixin logo()
							| is dual-licensed under the open source MIT and GPLv2 licenses. These licenses must be 
							| distributed with all scripts falling under their terms, either in file form, or a link to a 
							| copy in the header of the files. This is already done for you in the scripts headers, so if
							| you're not too familiar with licensing don't worry about it!


				a(name="docs")
				#category-docs.category.group
					h1 Documentation
						font
							| get started with 
							mixin logo()

					!{wikipage(markdown.gettingstarted)}

					a(name="guides")
					#section-guides.section
						h2 Guides
							i Read these first!
						ul
							li: a(href="https://github.com/Craga89/qTip2/wiki/content-guide"): span: span Content types

					a(name="api")
					#section-api.section
						h2 Configuration options
						ul
							li
								a(href="https://github.com/Craga89/qTip2/wiki/core")
									span: span <b>Core</b> options
							li
								a(href="https://github.com/Craga89/qTip2/wiki/content")
									span: span <b>Content</b> and titles
							li
								a(href="https://github.com/Craga89/qTip2/wiki/position")
									span: span <b>Positioning</b> and corner types
							li
								a(href="https://github.com/Craga89/qTip2/wiki/show")
									span: span <b>Show</b> properties and effects
							li
								a(href="https://github.com/Craga89/qTip2/wiki/hide")
									span: span <b>Hide</b> properties and effects
							li
								a(href="https://github.com/Craga89/qTip2/wiki/style")
									span: span <b>Styling</b> properties

					a(name="plugins")
					#section-plugins.section
						h2 Plugins
							i Make sure 
								a(href="#builder") they're included!
						ul
							li#plugins-ajax
								a(href="https://github.com/Craga89/qTip2/wiki/AJAX", name="plugins-ajax")
									span: span AJAX
							li#plugins-modal
								a(href="https://github.com/Craga89/qTip2/wiki/Modal", name="plugins-modal")
									span: span Modal
							li#plugins-viewport
								a(href="https://github.com/Craga89/qTip2/wiki/Viewport", name="plugins-viewport")
									span: span Viewport positioning
							li#plugins-imagemap
								a(href="https://github.com/Craga89/qTip2/wiki/Image-map", name="plugins-imagemap")
									span: span Imagemap support
							li#plugins-svg
								a(href="https://github.com/Craga89/qTip2/wiki/SVG", name="plugins-svg")
									span: span SVG support
							li#plugins-ie6
								a(href="https://github.com/Craga89/qTip2/wiki/IE6", name="plugins-ie6")
									span: span IE6 compatibility

					a(name="api")
					#section-api.section
						h2 API
						ul
							li
								a(href="https://github.com/Craga89/qTip2/wiki/methods")
									span Methods and properties
							li
								a(href="https://github.com/Craga89/qTip2/wiki/events")
									span Events and callbacks

				a(name="donate")
				#category-donate.category.group
					h1 Donate
						font show your love for the project

					form(action="https://www.paypal.com/uk/cgi-bin/webscr", data-paypal="https://www.paypal.com/uk/cgi-bin/webscr", data-moneybookers="https://www.moneybookers.com/app/payment.pl")
						input(type="hidden", name="cmd", value="_donations")
						input(type="hidden", name="business", value="craig@craigsworks.com")
						input(type="hidden", name="item_name", value="qTip2 - Pretty powerful tooltips")
						input(type="hidden", name="no_shipping", value="0")
						input(type="hidden", name="no_note", value="1")
						input(type="hidden", name="currency_code", value="GBP")
						input(type="hidden", name="currency", value="GBP")
						input(type="hidden", name="tax", value="0")
						input(type="hidden", name="bn", value="PP-DonationsBF")
						input(type="hidden", name="pay_to_email", value="craig@craigsworks.com")
						input(type="hidden", name="status_url", value="Chttp://craigsworks.com/projects/qtip2/donate//thanks")
						input(type="hidden", name="return_url", value="http://craigsworks.com/projects/qtip2/donate//thanks")
						input(type="hidden", name="return_url_text", value="Complete the donation!")
						input(type="hidden", name="language", value="EN")
						input(type="hidden", name="recipient_description", value="qTip2 - Pretty powerful tooltips")
						input(type="hidden", name="dynamic_descriptor", value="qTip2 - Pretty powerful tooltips")
						input(type="hidden", name="detail1_description", value="qTip2 donation")
						input(type="hidden", name="detail2_description", value="Author")
						input(type="hidden", name="detail2_text", value="Craig Michael Thompson")
						input(type="hidden", name="amount2_description", value="Donation:")
						input(type="hidden", name="payment_methods", value="WLT,NGP,IDL,PWY,PWY5,PWY6,PWY7,PWY14,PWY15,PWY37,PWY17,PWY18,PWY19,PWY20,PWY21,PWY22,PWY26,PWY25,PWY28,PWY32,PWY33,PWY36,ACC,VSA,MSC,VSD,VSE,AMX,DIN,JCB,MAE,LSR,SLO,GCB,SFT,DID,GIR,ENT,EBT,SO2,NPY,PLI,DNK,CSI,PSP,EPY,BWI")
						input(type="hidden", name="confirmation_note", value="Thanks for the donation and feel free to visit the support forums at any time!")
						input(type="hidden", name="logo_url", value="http://media2.juggledesign.com/qtip2/images//logo-horizontal.png")
						input(type="hidden", name="lastname", value="")
						input(type="hidden", name="merchant_fields", value="first_name,last_name")

						a(name="name")
						#section-name.section
							h2 What is your name?
							div.inputgroup
								input(type="text", name="firstname", value="Anonymous")

						a(name="amount")
						#section-amount.section
							h2 Choose an amount
							ul
								li.checked
									input(id="amount-1", name="amount", type="radio", checked="checked", value="1")
									label(for="amount-1") 
										span <font>&pound;</font>1
								li
									input(id="amount-2", name="amount", type="radio", value="2")
									label(for="amount-2") 
										span <font>&pound;</font>2
								li
									input(id="amount-5", name="amount", type="radio", value="5")
									label(for="amount-5") 
										span <font>&pound;</font>5
								li
									label(for="amount-custom") 
										span
											| <font>&pound;</font>
											input(id="amount-custom", type="number", name="amountold", value="10")

						a(name="service")
						#section-service.section
							h2 Choose a service

							div.buttongroup
								button(data-external="paypal") Donate using <b>PayPal</b>
								button(data-external="moneybookers") Donate using <b>Skrill (MoneyBookers)</b>

								a(href="http://flattr.com/thing/706279/qTip2-Pretty-Powerful-Tooltips", target="_blank", data-external="flatr")
									img(src="http://api.flattr.com/button/flattr-badge-large.png", class="noq", alt="Donate using Flattr", border="0")

							p.note 
								b Note: 
								| All donations are made to
								a(href="mailto:craig@craigsworks.com")craig@craigsworks.com
								| in the above services.
							p.note
								b Note: 
								| Upon submission, you will be redirected to the chosen services website to login/register and verify your donation.
							p.note
								b Note: 
								| If you prefer to send money in a different currency, alternative options are available once at the external site (see above).

						a(name="donators")
						#section-donators.section
							h2 Donators <i>Random tag cloud</i>
							- donators.forEach(function(item) {
								- var color = 50 + Math.floor( Math.random() * 171 ); color = [color,color,color];
								- var font = (70 + Math.floor( Math.random() * 71 )) / 100;
								span(style="color:rgb("+color+"); font-size:"+font+"em; line-height:"+(font+0.2)+"em;")=item
							- })

				a(name="faq")
				#category-faq.category.group
					h1 FAQ
						font Frequently asked questions
					!{wikipage(markdown.faq)}

		// Javascript
		script(type='text/javascript', src='http://code.jquery.com/ui/1.8.24/jquery-ui.min.js')
		script(type='text/javascript', src='#{qtip("nightly", "js")}')

		script(type='text/javascript', src="http://www.youtube.com/player_api")
		script(type='text/javascript', src="http://a.vimeocdn.com/js/froogaloop2.min.js")
		script(type='text/javascript', src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCMuMk-DLITXimlZj2SZPW0HZjSBBK2WnQ&sensor=false")
		script(type='text/javascript', src="http://www.websnapr.com/js/websnapr.js")
		script(type='text/javascript', src='#{url('/javascripts/libs/jquery.themeswitcher.min.js')}')

		script(type='text/javascript', src='#{url('/javascripts/base.js')}')
		script(type='text/javascript', src='#{url('/javascripts/demos.js')}')
		script(type='text/javascript', src='#{url('/javascripts/download.js')}')
		script(type='text/javascript', src='#{url('/javascripts/donate.js')}')

		script
			$('#header a, #header li.style').qtip({
				position: {
					my: 'top center',
					at: 'bottom center',
					viewport: $(window)
				},
				style: {
					classes: 'qtip-rounded'
				}
			});