extends layouts/default

mixin featureblock(href, text, classes)
	a(href=href, class=classes) !{text}

block content
	a(name="intro")
	#category-intro.category.group
		h1
			font Introducing&hellip;&nbsp;
			mixin logo()
			img(class="owl", src="#{cdn('owl_small.png')}", width="45", height="50")

		a(name="about")
		#section-about.section
			h2 About
			p
				mixin logo()
				| is the second generation of the advanced 
				a(href="#{'http://craigsworks.com/projects/qtip/'}") qTip 
				| plugin for the ever popular 
				a(href='http://jquery.com') jQuery framework.
			p
				| Building on 1.0's <b>user friendly</b>, yet 
				a(href='#features') feature rich
				|  base, 
				mixin logo()
				| provides you with tonnes of features like 
				b speech bubble tips 
				| and 
				b imagemap support, 
				| and best of all... it's 
				a(href='#license') completely free under the MIT/GPLv2 licenses!

		a(name="features")
		#section-features.section
			h2 Features
			p
				mixin logo()
				| is packed full of features including:

			ul.blocks.subnav
				li#features-tips
					mixin featureblock("/plugins#tips", "Speech bubble tips")
				li#features-ajax
					mixin featureblock("/plugins#ajax", "Integrated AJAX")
				li#features-viewport
					mixin featureblock("plugins#viewport", "Viewport repositioning")
				li#features-stacking
					mixin featureblock("/demos#positioning-zindex", "z-index stacking")
				li#features-modal
					mixin featureblock("/plugins#modal", "Modal tooltips")
				li#features-imgsvg
					mixin featureblock("/plugins#imagemap", "Imagemap &amp; SVG support")
				li#features-ie6
					mixin featureblock("/plugins#ie6", "IE6 support (BGIframe)")
			| &hellip;and lots more!

		a(name="showcase")
		#section-showcase.section
			h2 Showcase
			a(href='http://mozilla.org')
				img(src='https://assets.mozillalabs.com/Brands-Logos/Mozilla/mozilla_wordmark.png', alt='Mozilla', width='155')
			a(href='http://lloydstsb.com')
				img(src='http://images1.wikia.nocookie.net/__cb20120726101227/logopedia/images/0/0c/2000px-Lloyds_tsb_logo.svg.png', alt='Lloyds TSB', width='155')
			a(href='http://asos.com')
				img(src='http://www.shootfactory.co.uk/blog/wp-content/uploads/2012/02/ASOS-LOGO.jpg', alt='ASOS', width='115')
			a(href='http://urbandictionary.com')
				img(src='http://www.calpolynews.calpoly.edu/magazine/Fall-11/photos/hotshots/UD-logo.jpg', alt='Urban Dictionary', width='155')
			a(href='http://models.com')
				img(src='http://i.models.com/i/logo08.gif', alt='models.com', width='145')
			a(href='http://skrill.com')
				img(src='http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/102011/skrill-moneybookers.ai_.png', alt='Skrill / Moneybookers', width='115')
			a(href='http://desk.com')
				img(src='http://venturebeat.files.wordpress.com/2012/01/desk-com-logo_-2-color_1000x200.png', alt='desk.com', width='145')


		a(name="browsers")
		#section-browsers.section
			h2 Compatibility
			span
				img(src='#{cdn("browsers/64-chrome.png")}', alt='Chrome', width='45', height='42')
				| 8+
			span
				img(src='#{cdn("browsers/64-firefox.png")}', alt='Firefox', width='45', height='42')
				| 3+
			span
				img(src='#{cdn("browsers/64-ie.png")}', alt='Internet Explorer', width='45', height='42')
				| 6+
			span
				img(src='#{cdn("browsers/64-opera.png")}', alt='Opera', width='45', height='42')
				| 9+
			span
				img(src='#{cdn("browsers/64-safari.png")}', alt='Safari', width='45', height='42')
				| 2+, iOS 4+
