extends layouts/default

block content
	#contentheader
		.center
			#browsers
				div
					img(src='#{cdn("browsers/64-chrome.png")}', alt='Chrome', width='45', height='42')
				| 8+
				div
					img(src='#{cdn("browsers/64-firefox.png")}', alt='Firefox', width='45', height='42')
				| 3+
				div
					img(src='#{cdn("browsers/64-ie.png")}', alt='Internet Explorer', width='45', height='42')
				| 6+
				div
					img(src='#{cdn("browsers/64-opera.png")}', alt='Opera', width='45', height='42')
				| 9+
				div
					img(src='#{cdn("browsers/64-safari.png")}', alt='Safari', width='45', height='42')
				| 2+, iOS 4+

			#introd
				.center
					p
						| Introducing&hellip; <b>qTip<sup>2</sup></b>. The second generation of the advanced qTip plugin for the ever popular
						a(href='http://jquery.com') jQuery framework.
					p
						| Building on 1.0's <b>user friendly</b>, yet
						a(href='#{url("docs")}') feature rich
						|  base, qTip<sup>2</sup> provides you with tonnes of features like <b>speech bubble tips</b> and <b>imagemap support</b>,
						| and best of all... it's
						a(href='#{url("download#license")}') completely free under the MIT/GPLv2 licenses!

	#using
		.center
			.content
				| Who's using qTip<sup>2</sup>?
				ul.right
					li
						a.assistly(href='http://assistly.com')
							img(src='#{cdn("using/assistly.png")}', alt='assistly.com', width='59', height='15')
					li
						a.irishnews(href='http://irishnews.com')
							img(src='#{cdn("using/irishnews.png")}', alt='irishnews.com', width='109', height='15')
					li
						a.moneybookers(href='http://moneybookers.com')
							img(src='#{cdn("using/moneybookers.png")}', alt='moneybookers.com', width='138', height='16')
					li
						a.models(href='http://models.com')
							img(src='#{cdn("using/models.com.png")}', alt='models.com', width='94', height='15')
					li
						a.asos(href='http://asos.com')
							img(src='#{cdn("using/asos.png")}', alt='asos.com', width='54', height='17')
					li
						a.urban(href='http://urbandictionary.com')
							img(src='#{cdn("using/urbandictionary.png")}', alt='urbandictonary.com', width='42', height='21')
					li
						a.mozilla(href='http://mozilla.com')
							img(src='#{cdn("using/mozilla.png")}', alt='mozilla.com', width='60', height='17')
