extends ../layouts/default

block stylesheets
	link(rel='stylesheet', type='text/css', href='#{cdn("/demo.css")}')
	
block scripts
	script(type='text/javascript', src='#{cdn('demo.js')}')

block content
	#contentheader
		.center
			h2.left Demos
			.toolbar
				a.source.button(href='#')
					span.ui-icon.ui-icon-script
					| View source
				a.download.button(href='#')
					span.ui-icon.ui-icon-folder-collapsed
					| Download
				a.popout.button(href='#')
					span.ui-icon.ui-icon-newwin
					| Pop-out
				a.fiddle.button(href='#')
					span.ui-icon.ui-icon-newwin
					| jsfiddle.net
				.clear
			.clear
	
	#content
		.center
			#demopanel
				.demo-list
					.accordion
						h3: a(href='#') Integrated features
						ul
							li: a(href='#{url("demos/simple")}', title='Replace the default browser tooltips with qTip.', rel='EEwwg') Simple integration
							li: a(href='#{url("demos/tips")}', title='Draw attention to the element the tooltip is referring to using qTip2\'s speech bubble tips.') Speech bubble tips
							li: a(href='#{url("demos/ajax")}', title='Utilise qTip2\'s built-in AJAX plugin to grab content from other pages asynchronously.') AJAX
							li: a(href='#{url("demos/modal")}', title='With the built-in modal plugin, you can create qTip\'s that perform the same tasks as a modal dialogue.', rel='LJwLh') Modal dialogue
							li: a(href='#{url("demos/imagemap")}', title='Using qTip built\-in imagemap support, we can even position our tooltips in relation to area elements.', rel='v2WPz') Image maps
							li: a(href='#{url("demos/viewport")}', title='Keep your qTip\'s on-screen at all times using customisable collision detection.') Collision detection
							li: a(href='#{url("demos/mouse")}', title='Position your tooltips in relation to the mouse using in-built mouse tracking.', rel='v6KMr') Mouse tracking
						h3: a(href='#') Services &amp; Data
						ul
							li: a(href='#{url("demos/flickr")}', title='Setup a simple Flickr gallery with fullsize image mouseovers.', rel='ar5Jb') Flickr
							li: a(href='#{url("demos/imdb")}', title='Allow users to see the IMDb film rating for any films linked to on the page.') IMDb Rating
							li: a(href='#{url("demos/websnapr")}', title='Allow users to see thumbnails of any site you link to using the WebSnapr API.') WebSnapr thumbnails
							li: a(href='#{url("demos/microblogging")}', title='Let users see the most recent tweet or buzz of any Twitter/Buzz usernames linked to on the page.') Microblogging
							li: a(href='#{url("demos/forum")}', title='See an example of how you can easily integrate qTip2 into forum software to provide user details on avatar mouseover.') Forum integration
							li: a(href='#{url("demos/geolocation")}', title='Allow users to click and view a Google Map of an IP\'s geolocation.') IP Geolocation
						h3: a(href='#') Plugin integration
						ul
							li: a(href='#{url("demos/validation")}', title='Integrate qTip\'s into the jQuery Validation plugin to supply users with details about errors in their forms.') Validation
							li: a(href='#{url("demos/youtube")}', title='Allow users to preview any YouTube videos linked to on your page using the YouTube API.') YouTube Previews
							li: a(href='#{url("demos/vimeo")}', title='Allow users to preview Vimeo videos linked to on your page using the Vimeo API.') Vimeo Previews
							li: a(href='#{url("demos/googlemap")}', title='Store coordinates on your elements and display a Google Map of their whereabouts on click.') Google Maps
							li: a(href='#{url("demos/jmonthcalendar")}', title='Integrate qTip2 into your jMonthCalendar to supply event details, just like Google Calendar!') jMonthCalendar
							li: a(href='#{url("demos/flot")}', title='Charts often need annotation, so why not integrate qTip2 into flot and provide an interactive experience for your users?') flot charts
						h3: a(href='#') UI Tricks
						ul
							li: a(href='#{url("demos/dialogues")}', title='Simulate the old alert/confirm/prompt dialogues with qTip2.') Alert/Confirm/Prompt
							li: a(href='#{url("demos/form")}', title='Embed forms straight into your qTip\'s for same-page submissions') Embedded forms
							li: a(href='#{url("demos/menus")}', title='Create nested dropdown menus for your navigation bars.') Dropdown menus
							li: a(href='#{url("demos/growl")}', title='Simulate the jGrowl plugin with the qTip2 library via use of the in-built API.', rel='NYc4Q') jGrowl
						h3: a(href='#') jQuery UI
						ul
							li: a(href='#{url("demos/themeroller")}', title='Utilise the jQuery ThemeRoller framework to style your qTip\'s!') ThemeRoller
							li: a(href='#{url("demos/ui-tabs")}', title='Utilise qTip inside jQuery UI tab content.') Tabs
							li: a(href='#{url("demos/ui-slider")}', title='Utilise qTip to display your UI Slider value.') Slider
						h3.lasty: a(href='#') Advanced usage
						ul
							li: a(href='#{url("demos/shared")}', title='Share a single tooltip between multiple targets, each with their own content.') One tooltip, multiple targets
							li: a(href='#{url("demos/steps")}', title='Create a step-by-step tutorial using qTip2 to display information about specified elements in a specific order.') Step-by-step tutorials
					
					.demo-description Choose a demo from above
				
				#demoframe
					#loading
					iframe.demo(style='display: block;', frameborder='0')
					iframe.source(style='display: none;', frameborder='0')
				.clear

			.clear
